		<footer class="main-footer">
			{{> social-networks}}
			<p>This site is part of the Retronaut Webring. See <a href="http://webring.dinhe.net/next/{{config.site-url}}">next site</a> and <a href="http://webring.dinhe.net/prev/{{config.site-url}}">previous site</a>!</p>
			Built by Tri Nguyen using <a href="https://github.com/tnguyen14/tobiko">tobiko</a>. Copyrights ® {{getDate 'YYYY'}}.
		</footer>
		<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/lib/bxslider/jquery.bxSlider.min.js"></script>
		<script type="text/javascript" src="/lib/prism/prism.js"></script>
		<script type="text/javascript">
			var page = {
				env: {{{json content.env}}}
			};
		</script>
		<script type="text/javascript" src="/js/app.js"></script>
		{{#isEqual content.env 'dev'}}
			<script src="http://localhost:{{config.livereload}}/livereload.js"></script>
		{{else}}
			{{> analytics}}
		{{/isEqual}}
	</body>
</html>
