{{> header}}
	<h1>Archives</h1>
	{{#each content.posts}}
		<h2><a href="{{url}}">{{title}}</a></h2>
		<h3>{{date}}</h3>
		{{{main}}}
	{{/each}}

	<div class="nav-link">
		{{#if content.prevUrl}}
			<a class="prev" href="{{content.prevUrl}}"><i class="icon-arrow-left"></i> Previous</a>
		{{/if}}
		{{#if content.nextUrl}}
			<a class="next" href="{{content.nextUrl}}">Next <i class="icon-arrow-right"></i></a>
		{{/if}}
	</div>
{{> footer}}