{{> head}}
	<div class="main-header">
		{{> nav}}
	</div><!-- .main-header -->
	<div class="resume">
		<h1>Resume</h1>
		<div class="intro">{{content.intro}}</div>
		{{#if work}}
			<h2 class="section-title">Work Experience</h2>
			{{#each work}}
				<div class="work-single item">
					<h3 class="item-header">{{company}}
					{{#if location}}
						- {{location}}
					{{/if}}
					{{#if website}}
						({{website}})
					{{/if}}
					</h3>
					<div class="item-meta row">
						<div class="position">{{position}}</div>
						<div class="duration">{{duration}}</div>
					</div>
					<div class="item-description">
						{{{main}}}
					</div><!-- .item-description -->
				</div><!-- .work-single -->
			{{/each}}
		{{/if}} {{! work }}
		{{#if education}}
			<h2 class="section-title">Education</h2>
			{{#each education}}
				<div class="item">
					<h3 class="item-header">{{school}}
					{{#if location}}
						- {{location}}
					{{/if}}
					</h3>
					<div class="row">
						<div class="degree">{{degree}}, {{majors}}</div>
						<div class="graduation">{{graduation-date}}</div>
					</div>
					<div class="gpa">Cumulative GPA: {{gpa}}</div>
					<div class="honors-awards">
						<h3 class="item-header">Honors and Awards</h3>
						<ul>
						{{#each honors-awards}}
							<li>{{this}}</li>
						{{/each}}
						</ul>
					</div><!-- .honors-awards -->
				</div><!-- .item -->
			{{/each}}
		{{/if}} {{! education}}
		{{#if skills}}
			<h2 class="section-title">Skills</h2>
			{{#each skills}}
				<div>
					<span>{{title}}: </span>
					{{#each skills}}
						<span class="comma-item">{{this}}</span>
					{{/each}}
				</div>
			{{/each}}
		{{/if}} {{! skills}}
	</div><!-- .resume -->
{{> footer}}